[status]
lastTabIndex = 0
defaultZoomScale = 2500 
pluginToolbarEnabled = 0

[layers]
STREET_LAYER=carrerer_eixos
STREET_FIELD_CODE=idc_com
STREET_FIELD_NAME=carrerer

PORTAL_LAYER=carrerer_portals
PORTAL_FIELD_CODE=idc_com
PORTAL_FIELD_NUMBER=txtlabel

PLACENAME_LAYER=Top_toponimia
PLACENAME_FIELD=toponim

EQUIPMENT_LAYER=Eq_equipaments
EQUIPMENT_FIELD_TYPE=tipus
EQUIPMENT_FIELD_NAME=nom

CADASTRE_LAYER=parcela
CADASTRE_FIELD_CODE=refcat

CORE_LAYER=Nuclis
CORE_FIELD_CODE=codi_nucli
CORE_FIELD_NAME=nom

PLOT_LAYER=Parcellari
PLOT_FIELD_CODE=nucli
PLOT_FIELD_ADDRESS=adr